@*@model MAPMA_WebClient.ServiceLayer.BookingService*@

@*@{
    ViewBag.Title = "CreateBookingCheck";
}*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
<h2>CreateBookingCheck</h2>

<link href="~/Content/Site.css" rel="stylesheet" />


<form method="post" action="@Url.Action("CreateBookingDone")">
    <label hidden class="epmid">Medarbejder nr:</label> <input hidden class="epmid" type="text" name="EmployeeID" value="1" readonly /><br /><br />
    <label class="Booking">Brugernavn : </label> <input type="text" name="username" value="@Request.Cookies["User"].Value.ToString()" readonly /><br /><br />
    <label class="Booking">Escaperoom Id:</label><input type="text" name="escapeRoomID" value="@ViewBag.EscapeRoom.escapeRoomID" readonly /><br /><br />
     Dato : <input type="text" name="BDate" value="@ViewBag.ChosenDate" readonly /><br /><br />
    <select data-bind="TimeSpan" name="BookTime">
        @foreach (TimeSpan item in ViewBag.freetimes)
        {
         <option value="@item">@item</option>
        }
        </select><br /><br />
    <label class="Booking">Antal personer:</label>  <input type="number" name="AmountOfPeople" required min="1" /><br /><br />
    <input class="Button" type="submit" value="book rum" onclick="@("window.location.herf='"+@Url.Action("GetAllEscapeRoom","EscapeRoom")+"'");" />
</form> 