@model MAPMA_WebClient.BookRef.BookingServicesClient



<h2>CreateBooking</h2>

<form method="post" action="@Url.Action("CreateBooking")">
    Medarbejder nr:<input type="text" name="EmployeeID" /><br /><br />
    Brugernavn : <input type="text" name="username" /><br /><br />
    Escaperoom Id: <input type="text" name="escapeRoomID" value="@ViewBag.EscapeRoom.escapeRoomID" readonly /><br /><br />
    <select data-bind="TimeSpan" name="BookTime">
        @foreach (TimeSpan item in ViewBag.TimeList) {
            <option value="@item">@item</option>

        }
    </select><br /><br />
    Dato og tid : <input type="date" name="BDate" /><br /><br />
    Antal personer: <input type="text" name="AmountOfPeople" /><br /><br />
    <input class="Button" type="submit" value="book rum" />
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bookingtime.js"></script>
}
