@*@model MAPMA_WebClient.BookRef.BookingServicesClient*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        function Checkdate() {
          var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("date").setAttribute("min", today);      
        };
        
    </script>

<h2>CreateBooking</h2>
<form action="@Url.Action("CreateBookingCheck")" method="post">
    Escaperoom Id: <input id="escid" type="text" name="id" value="@ViewBag.EscapeRoom.escapeRoomID" readonly /><br /><br />
    Dato : <input id="date" type="date" name="BDate" min="2020-01-01" required /><br /><br />
     <p id="da">@TempData["message"]</p>
    <input class="Button" type="submit" value="book rum" onclick="Checkdate()" />
</form>

@*<form method="post" action="@Url.Action("CreateBooking")">
    Medarbejder nr:<input type="text" name="EmployeeID" /><br /><br />
    Brugernavn : <input type="text" name="username" /><br /><br />
    Escaperoom Id: <input id="escid" type="text" name="escapeRoomID" value="@ViewBag.EscapeRoom.escapeRoomID" readonly /><br /><br />
    <select data-bind="TimeSpan" name="BookTime">
        @foreach (TimeSpan item in ViewBag.TimeList) {
            <option value="@item">@item</option>
        }
    </select><br /><br />
    Dato : <input id="date" type="date" name="BDate" onchange = "Checkdate()"   /><br /><br />
       <p  id="da"></p>
               
    
    Antal personer: <input type="text" name="AmountOfPeople" /><br /><br />
    <input class="Button" type="submit" value="book rum" />
</form>*@

<div>
    @Html.ActionLink("Back to List", "GetAllEscapeRoom", "EscapeRoom")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bookingtime.js"></script>
}
