@model MAPMA_WebClient.ServiceLayer.BookingService

@{
    ViewBag.Title = "GetAllBookingFromUser";
}

<h2>Tidligere bookinger</h2>

<div>
    <h4>BookingService</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<table class="table">
    <tr>
        <th>
            booking nummer
        </th>
        <th>
            escaperoom
        </th>
        <th>
            datoen
        </th>
        <th>
            tid
        </th>
        <th>
            antal mennesker
        </th>      
    </tr>

    @foreach (var item in ViewBag.Userbook) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.er.name
            </td>
            <td>
                @item.date
            </td>
            <td>
                @item.bookingTime
            </td>
            <td>
                @item.amountOfPeople
            </td>
            
            <td>
                <form action="@Url.Action("DeleteBookingCustomer")" method="delete">
                    <input type="text"name ="username" value="@Request.Cookies["User"].Value" hidden />
                    <input type="text"name ="escapeRoomID" value="@item.er.escapeRoomID" hidden/>
                    <input type="text"name ="BookTime" value=" @item.bookingTime" hidden/>
                    <input type="text"name ="BDate" value="@item.date" hidden/>
                    <input type="submit" value="Slet booking"/>
                </form>
                @*@Html.ActionLink("Slet", "DeleteBookingCustomer", "Booking", new { 
                username = Request.Cookies["User"].Value,
                escapeRoomID = @item.er.escapeRoomID,
                BookTime = @item.bookingTime,
                BDate  =@item.date
                },
           new { @class = "BookingController" })*@
            </td>
            <td>
                @using (Html.BeginForm("DeleteBookingCustomer", "Booking", FormMethod.Post, new { @class = "form"} )) {

                    <input type="hidden" name="username" value="@Request.Cookies["User"].Value"  />
                    <input type="hidden" name="escapeRoomID" value="@item.er.escapeRoomID"  />
                    <input type="hidden" name="BookTime" value=" @item.bookingTime"  />
                    <input type="hidden" name="BDate" value="@item.date"  />
                    <input type="submit" class="button" value="Slet" name="action:DeleteBookingCustomer"/>
                }
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
