@model IEnumerable<MAPMA_WebClient.EscRef.EscapeRoom>

@{
    ViewBag.Title = "GetAllEscapeRoom";
}

<h2>Escaperooms</h2>

<p>
   @* @Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Navn
        </th>
        <th>
            Tid at komme igennem rummet
        </th>

        <th>
            Pris
        </th>
        <th>
            Rating
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.List) {
<tr>
    <td>
        <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" height="150" width="150" />
    </td>
    <td>
        @item.name
    </td>
    <td>
        @item.maxClearTime
    </td>
    <td>
        @item.price
    </td>
    <td>
        @item.rating
    </td>
    <td>
        @Html.ActionLink("Book", "CreateBooking", "Booking", new { id = item.escapeRoomID }, new { @class = "BookingController" })
       
    </td>
    <td>
      
        @Html.ActionLink("Info", "GetEscapeRoom", "EscapeRoom", new { id = item.escapeRoomID }, new { @class = "Controller" })
        
    </td>
</tr>
}

</table>
